@page "/accountview"

@using Sesh.Data
@using SeshDB.Data.Sesh

@inject AuthenticationStateProvider AuthenticationStateProvider

@*
    Using OwningComponentBase ensures that the service and related services
    that share its scope are disposed with the component.
*@

@inherits OwningComponentBase<TransactionService>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (accounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>CurrentBalance</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var account in accounts)
            {
                <tr>
                    <td>@account.AccountId</td>
                    <td>@account.AccountName</td>
                    <td>@account.CurrentBalance</td>                    
                </tr>
            }
        </tbody>
    </table>
}

@code {
    //AuthenticationState is available as a CascadingParameter

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    List<Accounts> accounts;

    protected override async Task OnInitializedAsync()
    {
        // Get the current user
        var user = (await authenticationStateTask).User;
        // Get the accounts for the current user
        // We access AccountService using @Service
        accounts = await @Service.GetAccountsAsync(user.Identity.Name);
    }
}
